header {
    background-color: rgb(152, 23, 195);
    margin: 400px,


}

body {

    background-color: rgb(234, 230, 240);
    margin: 20px, 10px, 20px, 50px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

h1 {
    color: rgb(171, 189, 180);
    margin-left: 400px;
    text-decoration: solid;
}

h2 {
    margin: 0px;
}

h3 {
    margin-left: 50px;
}

h4 {
    margin-top: 20px, 20px;
    padding: 0px;

}

p {
    color: red;
    margin: 0px, 10px;
    padding: 20px;
    gap: 50;
    display: inline-block;

}

ul {
    color: black;
    padding: 0;
    margin: 0;
    gap: 30;
}

image {
    padding: 20px;
    margin-left: 100px;
}

li {
    margin-left: 20px;
    color: blue
}

ol {
    margin-left: 20px;
    color: blue;
}